@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
}

/* Header */
header{
    top: 0;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 5%;
    align-items: center;
    
    
}
header #enter{
    font-size: 20px;
    box-shadow:inset 0 0 0 0 rgb(116, 116, 116);
    padding: 20px;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer ;
    
    font-family: 'Comfortaa', cursive;
}
@keyframes FadeShadow {
    0%{
        box-shadow:inset 0 0 0 0 rgb(116, 116, 116);

    }
    100%{
        box-shadow:inset 1px 1px 5px 0 rgb(116, 116, 116);
    }
}
.nada{
    animation: outFadeShadow 0.2s ease;
}
@keyframes outFadeShadow {
    0%{
        box-shadow:inset 1px 1px 5px 0 rgb(116, 116, 116);
    }
    100%{
        box-shadow:inset 0 0 0 0 rgb(116, 116, 116);
    }
}

#enter:hover{
    animation: FadeShadow 0.2s  ease  forwards;
}


#enter a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease;
    
    
}
header img{
    height: 7rem;
}