@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body{
    background-color: #fafafa;
    font-family: 'Comfortaa', cursive;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* apresentação */
#apresentation-div{
    margin-top: 3rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    letter-spacing: -.015em;
    color: #1D1D1F;
    line-height: 1.05;
}
#git-title{
    align-self: center;
    
}
#git-title img{
height: 20rem;
}
